.header {
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    z-index: 3;
    font-size: 1.3rem;
}

.logo {
    margin-left: -20px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.right img {
    width: 30px !important;
}

.right a {
    display: flex;
    align-items: center;
    padding-right: 2.5rem;
}

.right a:hover,
.right a.active {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.25rem;
}

.right a:last-child {
    padding-right: 0;
}

.mobile {
    display: none;
}

@media (max-width: 1330px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    button.mobileAction {
        background: transparent;
        border: none;
        padding: 0;
    }

    .mobileIconContainer svg {
        width: 25px !important;
        height: 25px !important;
        color: var(--color-navy-300) !important;
    }

    .closeButton {
        color: white !important;
        stroke: white !important;
        position: fixed;
        top: 2.5rem;
        right: 1rem;
        align-self: flex-end;
        z-index: 4;
    }

    .mobilePortal {
        color: white !important;
    }

    .dialogContent {
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .mobileLinks {
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 100%;
        font-size: 2rem;
    }

    .mobileLinks a {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
}
