.container {
}

.cta {
    background-color: #acbbb4;
    padding: 3rem;
    margin: 2rem -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--color-beige-100);
    font-size: x-large;
    font-weight: bold;
}

.ctaEmail {
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 0.5rem;
}

.ctaText {
    font-weight: normal;
}
