.container {
    background-color: var(--color-beige-300);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.baseImage {
    opacity: 1;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.hoverImage {
    opacity: 0;
    transition: opacity 1200ms cubic-bezier(0.33, 0, 0.2, 1), transform 1200ms cubic-bezier(0.33, 0, 0.2, 1);
}

.container:hover .baseImage {
    opacity: 0;
    transform: scale(1.02);
    transition-delay: 500ms;
}

.container:hover .hoverImage {
    opacity: 1;
    transform: scale(1.02);
    transition-delay: 500ms;
}
