.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-base);
}

.container.twoColumns {
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1330px) { .container { grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 1330px) { .container.twoColumns { grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 900px) { .container { grid-template-columns: 1fr; } }
@media (max-width: 320px) { .container { gap: var(--gap-sm); } }
